body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    color: #333;
  }
  
  #form-container, #baixa-container, #estoque-container {
    margin-bottom: 20px;
  }
  
  input, button {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
